@font-face {
	font-family: Mathlete;
	src: url("fonts/Mathlete-Bulky-webfont.ttf");
}

@font-face {
	font-family: Steelfish;
	src: url("fonts/steelfish_rg-webfont.ttf");
}

@font-face {
	font-family: Blackjack;
	src: url("fonts/black_jack-webfont.ttf");
}

@font-face {
	font-family: Bernard;
	src: url("fonts/bernhc.ttf");
}