.testimonialsContainerBody {
	float: left;
	width: 100%;
	height: 190px;
	background-image: url("../img/vintage_faqs_fixed.jpg");
	background-repeat: norepeat;
	background-size: cover;
	background-position: 0 -40px;

	div {
		width: 100%;
		margin-top: 4%;
		text-align: center;

		@media only screen and (min-width:601px) and (max-width:767px) { 
			margin-top: 11%;
		}

		@media only screen and (min-width:0px) and (max-width:600px) { 
			margin-top: 13%;
		}

		img {
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media only screen and (min-width:993px) and (max-width:1200px) { 
		background-size: 100%;
		background-position: 0 -220px;
	}

	@media only screen and (min-width:768px) and (max-width:992px) { 
		background-size: 100%;
		background-position: 0 -170px;
	}

	@media only screen and (min-width:501px) and (max-width:767px) { 
		height: 200px;
		background-position: 0 -40px;
	}	

	@media only screen and (min-width:0px) and (max-width:550px) { 
		height: 130px;
		background-size: 130%;
		background-position: -45px -45px;
	}
}

.testimonialsContainerTitle {
	float: left;
	width: 100%;
	height: 15px;
	background-color: $darkblue;
	color: $white;
	border-top: 2px solid $white;
	border-bottom: 2px solid $white;
	font-size: 1.9em;
	font-family: "Blackjack";
	font-weight: 100;

	p {
		display: none;
	}
}

.testimonialsContainerMainBody {
	float: left;
	width: 100%;
	height: 100%;
	background-color: lighten($lightgreen, 18%);
	float: left;
}

.testimonialsContainerMainBodyLeft {
	float: left;
	width: 50%;
	height: 100%;
	text-align: left;
	padding: 0px 15px 50px 30px;

	@media only screen and (min-width:0px) and (max-width:1200px) { 
		width: 100%;
		min-height: 350px;
		padding: 0px 15px 50px 15px;
	}

	p {
		color: $darkblue;
		line-height: 1.3em;
		font-size: 1em;
		font-family: $regular;
	}
}

.testimonialsContainerMainBodyRight {
	float: left;
	width: 50%;
	padding: 0px 30px 50px 15px;
	text-align: left;

	@media only screen and (min-width:993px) and (max-width:1200px) {
		width: 100%;
		padding: 0px 15px 50px 15px;
	}

	@media only screen and (min-width:768px) and (max-width:992px) {
		width: 100%;
		padding: 0px 15px 50px 15px;
	}

	@media only screen and (min-width:0px) and (max-width:767px) {
		width: 100%;
		padding: 0px 15px 50px 15px;
	}
}

.testimonialBlock {
	float: left;
	background-color: $white;
	padding: 30px 20px 20px 20px;
	@include box-shadow($charcoal 0px 0px 7px);
	margin: 28px 0px 0px 0px;
	position: relative;

	h4 {
		width: 100%;
		float: left;
		display: block;
		font-size: 1em;
		color: $mediumblue;
		font-family: $regular;
		margin: 0px 0px 10px 0px;
	}

	p {
		font-size: 1em;
		line-height: 1.2em;
		color: $charcoal;
		text-transform: initial;
	}

	span {
		width: 100%;
		display: block;
		font-weight: 600;
		font-size: 1.4em;
		font-family: "Blackjack";
		margin: 15px 0px 0px 0px;
	}

	img {
		position: absolute;
		top: -18px;
		right: 37%;
	}
}

.salepersonTestimonials {
	width: 100%;
	padding: 8px 0px 8px 0px;
	color: $white;
	background-color: darken($darkblue, 10%);
	font-size: 1.3em;
	font-family: 'Patua One', cursive;
	margin: 22px 0px 5px 0px;
	text-align: center;

	@media only screen and (min-width:501px) and (max-width:767px) { 
		font-size: 1em;
	}	

	@media only screen and (min-width:0px) and (max-width:550px) { 
		font-size: 1em;
	}
}

.brokerTestimonials {
	color: $white;
	background-color: darken($darkblue, 10%);
	font-size: 1.3em;
	font-family: 'Patua One', cursive;
	padding: 8px 0px 8px 0px;
	margin: 22px 0px 5px 0px;
	text-align: center;

	@media only screen and (min-width:501px) and (max-width:767px) { 
		font-size: 1em;
	}	

	@media only screen and (min-width:0px) and (max-width:550px) { 
		font-size: 1em;
	}
}