/*    @font-face {
	font-family: Glyphicons Halflings;
	src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular) format("svg");
}
*/




/*   @font-face {
	font-family: SteelfishRegular;
	src:url(fonts/steelfishrg.eot) format("embedded-opentype"), url(fonts/steelfishrg.woff) format("woff"), url(fonts/steelfishrg.ttf) format("truetype"), url(fonts/steelfishrg.svg#SteelfishRegular) format("svg");
}
@font-face {
	font-family: blackjackregular;
	src:url(fonts/black_jack-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/black_jack-webfont.woff) format("woff"), url(fonts/black_jack-webfont.ttf) format("truetype"), url(fonts/black_jack-webfont.svg#blackjackregular) format("svg");
}
@font-face {
	font-family: mathletebulky;
	src:url(fonts/Mathlete-Bulky-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/Mathlete-Bulky-webfont.woff) format("woff"), url(fonts/Mathlete-Bulky-webfont.ttf) format("truetype"), url(fonts/Mathlete-Bulky-webfont.svg#mathletebulky) format("svg");
}
@font-face {
	font-family: BernardMTCondensedRegular;
	src:url(fonts/bernhc.eot?#iefix) format("embedded-opentype"), url(fonts/bernhc.woff) format("woff"), url(fonts/bernhc.ttf) format("truetype"), url(fonts/bernhc.svg#BernardMTCondensedRegular) format("svg");
}
@font-face {
	font-family: MarketingScriptRegular;
	src:url(fonts/marketingscript.eot) format("embedded-opentype"), url(fonts/marketingscript.woff) format("woff"), url(fonts/marketingscript.ttf) format("truetype"), url(fonts/marketingscript.svg#MarketingScriptRegular) format("svg");
}

@font-face {
	font-family: 'mathletebulky';
	src:	url('../fonts/Mathlete-Bulky-webfont.eot'); /* IE9 */
	src:url('../fonts/Mathlete-Bulky-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mathlete-Bulky-webfont.woff') format('woff'),
         url('../fonts/Mathlete-Bulky-webfont.ttf') format('truetype'),
         url('../fonts/Mathlete-Bulky-webfont.svg#mathletebulky') format('svg);
}
@font-face {
	font-family: 'SteelfishRegular';
	src:	url('../fonts/steelfish_rg-webfont.eot'); /* IE9 */
	src:url('../fonts/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_rg-webfont.woff') format('woff'),
         url('../fonts/steelfish_rg-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_rg-webfont.svg#SteelfishRegular') format('svg);
}
@font-face {
	font-family: 'blackjackregular';
	src:	url('../fonts/black_jack-webfont.eot'); /* IE9 */
	src:url('../fonts/black_jack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/black_jack-webfont.woff') format('woff'),
         url('../fonts/black_jack-webfont.ttf') format('truetype'),
         url('../fonts/black_jack-webfont.svg#blackjackregular') format('svg);
}
@font-face {
	font-family: 'BernardMTCondensedRegular';
	src:	url('../fonts/bernhc.eot'); /* IE9 */
	src:	url('../fonts/bernhc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/bernhc.woff') format('woff'), /* Modern Browsers */
		url('../fonts/bernhc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/bernhc.svg#BernardMTCondensedRegular') format('svg); /* Legacy iOS */
}
@font-face {
	font-family: 'MarketingScriptRegular';
	src:	url('../fonts/marketingscript.eot'); /* IE9 */
	src:	url('../fonts/marketingscript.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/marketingscript.woff') format('woff'), /* Modern Browsers */
		url('../fonts/marketingscript.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/marketingscript.svg#BernardMTCondensedRegular') format('svg); /* Legacy iOS */
}

*/


